################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/2 - Projeto/itb.tcc.lojajogos/bin/Debug
/2 - Projeto/itb.tcc.lojajogos/obj/Debug
